* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 140vh;
    margin: auto;
    background-color: #12232E;
    color: #EEFBFB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

#page-container {
    display: flex;
}

#projects-container {
    height: 100vh;
    width: 25vh;
    background-color: #203647;
}

#projects-container h1, h2 {
    padding: 10px;
}

#projects-header {
    display: flex;
    justify-content: space-between;
}

.modal {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -53%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #203647;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -53%) scale(1);
}

.modal-header {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-close-button {
    border: none;
    background: transparent;
    color: #EEFBFB;
    font-size: 18px;
    outline: none;
    cursor: pointer;

}

#modal-header-text h3 {
    padding: 0;
}

.modal-header .title {
    font-size: 1.25em;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25em;
    font-weight: bold;
}

#modal-body {
    padding: 10px;
}

.modal-form-input {
    padding: 5px;
    width: 20vh;
    outline: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 200ms ease-in-out;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}