* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 100;
    width: 140vh;
    margin: auto;
    background-color: #12232E;
    color: #EEFBFB;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /*font-family: 'Archivo', sans-serif;*/
}

#page-container {
    display: flex;
}

#projects-container {
    height: 100vh;
    width: 22%;
    background-color: #203647;
}

#projects-container h1, h2 {
    padding: 10px;
}

#projects-header {
    display: flex;
    justify-content: space-between;
}

.project-name:hover {
    background-color: #404E67;
}

#tasks-content {
    width: 78%;
    padding: 10px;
    margin-left: 20px;

}

#empty-project-message {
    font-size: 30px;
    text-align: center;
}

#todo-container {
    margin: 30px 0 0 0;
    width: 100vh;
}

#header-tasks-section {
    display: flex;
    justify-content: space-between;
}

.task {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    background-color: darkslategrey;
    margin-bottom: 10px;
}

#project-description-input {
    resize: none;
    height: 80px;
    width: 80%;
    outline: none;
    padding: 5px;
}

.modal {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -53%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    /*border-radius: 10px;*/
    z-index: 10;
    background-color: #203647;
    width: 600px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -53%) scale(1);
}

.modal-header {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-close-button {
    border: none;
    background: transparent;
    color: #EEFBFB;
    font-size: 18px;
    outline: none;
    cursor: pointer;

}

#modal-header-text h3 {
    padding: 0;
}

.modal-header .title {
    font-size: 1.25em;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25em;
    font-weight: bold;
}

#modal-body {
    padding: 10px;
}


.modal-form-input {
    padding: 5px;
    width: 80%;
    outline: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 200ms ease-in-out;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}